<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles & Chill</title>
    <link rel="stylesheet" href="../static/Home page 2.css">
    <script defer src="../static/Home page 2.js"></script>

   
</head>
<body>
  
    <button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
<button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">News</button>
<button class="tablink" onclick="openPage('Contact', this, 'blue')">Topics</button>
<button class="tablink" onclick="openPage('About', this, 'orange')">About</button>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is where the heart is..</p>
  <div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  <div class="mySlides">
    <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
    <p class="author">- John Keats</p>
  </div>

  <div class="mySlides">
    <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
    <p class="author">- Ernest Hemingway</p>
  </div>

  <div class="mySlides">
    <q>I have not failed. I've just found 10,000 ways that won't work.</q>
    <p class="author">- Thomas A. Edison</p>
  </div>

  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<h3>Tell your story...</h3>

<form action="/action_page.php">
  <p><label for="w3review">write your own article:</label></p>
  <textarea id="w3review" name="w3review" rows="4" cols="50">...</textarea>
  <br>
  <input type="submit" value="Submit">
</form>
</div>


<div id="News" class="tabcontent">
  <h3>News</h3>
  <p>Some news this fine day!</p>
  <button class="accordion">Plato’s Allegory of the Cave</button>
<div class="panel">
  <p>plato’s “Allegory of the Cave” is one of the most well-known 
    philosophical concepts in history.As such, it only makes sense
    that numerous filmmakers would try to incorporate this philosophy
    into their movies. But what exactly is it?
     </p> <a href="https://www.studiobinder.com/blog/platos-allegory-of-the-cave/">For more</a>
</div>

<button class="accordion">The Mind/Brain Identity Theory</button>
<div class="panel">
  <p>The identity theory of mind holds that states and processes
    of the mind are identical to states and processes of the brain.
    Strictly speaking, it need not hold that the mind is identical
    to the brain...</p> 
    <a href="https://plato.stanford.edu/entries/mind-identity/"> For more</a>
</div>

<button class="accordion">What is philosophy?</button>
<div class="panel">
  <p>A definition of philosophy is notoriously difficult.
    However, it is important, for anyone writing or training
    about doing philosophy, first of all to spell out what they
    mean by it so that the reader has some idea about what kind
    of philosophy they will encounter and, when training people
    to facilitate philosophy, to provide criteria... 
  </p> <a href="https://www.philosophy-foundation.org/what-is-philosophy"> For more</a>
</div>
<button class="accordion">A quantum computer has simulated a wormhole for the first time</button>
<div class="panel">
  <p>Researchers have used Google's Sycamore quantum computer to
     simulate a simplified wormhole for the first time, and sent
     a piece of quantum information through it...</p>
     <a href="https://www.newscientist.com/article/2349118-a-quantum-computer-has-simulated-a-wormhole-for-the-first-time/"> For more</a>
</div>


<button class="accordion">The blessing and the curse of the axion’s rise in US particle physics</button>
<div class="panel">
  <p>Since the Large Hadron Collider turned up nothing in its search
    for supersymmetry, physicists have turned their attention to the axion,
   says Chanda Prescod-Weinstein, a self-described superfan of this hypothetical particle</p>
   <a href="https://www.newscientist.com/article/mg25634140-300-the-blessing-and-the-curse-of-the-axions-rise-in-us-particle-physics/"> For more</a>
</div>
</div>
</div>
</div>

<div id="Contact" class="tabcontent">
  <h3>Topics</h3>
  <p> explore the human knoledge</p>
  <div class="imagecontainer">
  <div class="container1">
    <a href="Philosophy.html"><img src="../תמונות/image philosophy 2.0.png" alt="Avatar" class="image"></a>
    <div class="overlay">
      Philosophy
    </div>
  </div>
    <br>
  <div class="container2">
    <a href="phisics.html"><img src="../תמונות/phisics 2.0.jpg" alt="Avatar" class="image"></a>
    <div class="overlay">
      phisics
    </div>
  </div>

  <br>
  
  <div class="container3">
    <a href="art.html"><img src="../תמונות/art image 2.0.jpg" alt="Avatar" class="image"></a>
    <div class="overlay">
      Art
    </div>
  </div>
    <br>
    <div class="container4">
      <a href="history.html"><img src="../תמונות/history 2.0.jpg" alt="Avatar" class="image"></a>
      <div class="overlay">
        History
      </div>
    </div>
      <br>
</div>
</div>
<div id="About" class="tabcontent">
  <h3>About</h3>
  <p>Who we are and what we do.</p>
  <p> We’re powered by a community of interesting 
    people with curious minds, and we empower people 
    to keep their minds focused, stimulated, and nourished.
     Which makes us a refreshing change from other digital spaces.</p>
    
</div>
</body>
</html>