<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles & Chill</title>
    <link rel="stylesheet" href="../static/phisics.css">
    <script defer src="../static/phisics.js"></script>

</head>
<body>
    <div class="header">
        <h1>physics</h1>
        <p>phisics articles</p>
      </div>
      <button class="accordion">A quantum computer has simulated a wormhole for the first time</button>
      <div class="panel">
        <p>Researchers have used Google's Sycamore quantum computer to
           simulate a simplified wormhole for the first time, and sent
           a piece of quantum information through it...</p>
           <a href="https://www.newscientist.com/article/2349118-a-quantum-computer-has-simulated-a-wormhole-for-the-first-time/"> For more</a>
      </div>

<button class="accordion">Why dandelion seeds are so good at spreading widely
</button>
<div class="panel">
  <p>Individual dandelion seeds on 
    a single flower are destined to go in different directions</p>
    <a href="https://www.sciencenews.org/article/why-dandelion-seeds-spread-wide"> For more</a>
</div>

<button class="accordion">Particles from space provide a new look inside cyclones</button>
<div class="panel">
  <p>Muons from cosmic rays might lead to a new tool for
     understanding the weather</p>
     <a href="https://www.sciencenews.org/article/muon-particles-cosmic-rays-inside-cyclones-weather">For more</a>
</div>

<button class="accordion">World Cup: This year’s special Al Rihla ball has the aerodynamics of a champion, according to a sports physicist
</button>
<div class="panel">
  <p>As with every World Cup, at the 2022 FIFA World 
    Cup in Qatar the players will be using a new ball...</p>
    <a href="https://theconversation.com/world-cup-this-years-special-al-rihla-ball-has-the-aerodynamics-of-a-champion-according-to-a-sports-physicist-194585">For more</a>
</div>

<button class="accordion">Curious Kids: what is exotic matter, and could we use it to make wormholes?</button>
<div class="panel">
  <p>Matter is “stuff”. It is anything that is made up of particles that take up space. Everything we can feel and see on Earth is matter,
     and it’s usually in one of three types: solid, liquid or gas...</p>
     <a href="https://theconversation.com/curious-kids-what-is-exotic-matter-and-could-we-use-it-to-make-wormholes-189425">For more</a>
</div>
</body>
</html>