doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Articles &amp; Chill
  link(rel='stylesheet' href='/css.css')
  script(defer='' src='/js.js')
.header
  h1 Art
  p art inspiration
button.accordion
  | A Pre-Hispanic Mural Depicting Moche Warriors Has Been Rediscovered in Northern Peru After Being Lost for More Than a Century
.panel
  p
    | The fresco was last seen in black-and-white photographs taken in 1916.
    | After a four-year search that enlisted the help of 10 students and
    | a local shaman, Swiss archeologist S&acirc;m Ghavami has rediscovered a
    | 100-foot-long pre-Hispanic mural in northern Peru...
  a(href='https://news.artnet.com/art-world/pre-hispanic-mural-rediscovery-peru-ghavami-huaca-pintada-2222013')  For more
button.accordion
  | Denver Art Museum&rsquo;s new look at Flemish old masters
.panel
  p
    | &ldquo;Saints, Sinners, Lovers and Fools: 300 Years of Flemish Masterworks&rdquo; debuts
    | never before seen works from Southern Netherlands.
  a(href='https://www.artandobject.com/articles/denver-art-museums-new-look-flemish-old-masters')  For more
button.accordion
  | Uncovering the Van Gogh Sisters
.panel
  p
    | Long overlooked, the sisters&mdash;Anna, Elisabeth (Lies),
    | and Willemien (Wil)&mdash;are now the subjects of a book, The Van Gogh Sisters by Van Gogh scholar Willem-Jan Verlinden.
  a(href='https://www.artandobject.com/articles/uncovering-van-gogh-sisters') For more
button.accordion
  | Andrew Wyeth&rsquo;s Drawings of His Own Funeral
.panel
  p
    | Two decades before he was interred beneath a stark black granite tombstone in Cushing, Maine, the artist Andrew Wyeth
    | imagined his own funeral. In about fifty drawings from the early 1990s known as the &ldquo;Funeral Group,&rdquo; he sketched family,
    | friends, and neighbors gathered around a coffin containing his supine corpse...
  a(href='https://www.artandobject.com/articles/andrew-wyeths-drawings-his-own-funeral') For more
button.accordion
  | What Is Viva Magenta, Pantone&rsquo;s &lsquo;Brave&rsquo; and &lsquo;Fearless&rsquo; Color of the Year?
.panel
  p
    | As 2023 approaches, the bold pinkish-red is supposed to reflect the global zeitgeist...
  a(href='https://www.smithsonianmag.com/smart-news/viva-magenta-pantone-color-of-the-year-2023-180981230/') For more
