<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles & Chill</title>
    <link rel="stylesheet" href="../static/css.css">
    <script defer src="../static/js.js"></script>

</head>
<body>
    <div class="header">
        <h1>History</h1>
        <p>Let's explore the past</p>
      </div>
      <button class="accordion">Why Frederick Douglass Wanted Black Men to Fight in the Civil War
    </button>
      <div class="panel">
        <p>He believed that, as soldiers, men of color could gain self-respect,
             self-defense skills and an undeniable justification for the rights 
             of citizenship...</p>
           <a href="https://www.history.com/news/frederick-douglass-civil-war-black-recruitment"> For more</a>
      </div>

<button class="accordion">How Ethiopia Beat Back Colonizers in the Battle of Adwa
</button>
<div class="panel">
  <p>In 1896, Ethiopia fended off an invading Italian army and secured its independence...
</p>
    <a href="https://www.history.com/news/battle-adwa-ethiopia-africa-colonization"> For more</a>
</div>

<button class="accordion">How Angels Found their Wings
</button>
<div class="panel">
  <p>In the Bible, angels do not have wings. How did they come to take the form we know today?
</p>
     <a href="https://www.historytoday.com/archive/history-matters/how-angels-found-their-wings">For more</a>
</div>

<button class="accordion">Talks on ancient languages
</button>
<div class="panel">
  <p>Take a step back in time and discover the history of humanity's most fundamental building block...</p>
    <a href="https://www.ted.com/talks/murray_gell_mann_the_ancestor_of_language?referrer=playlist-talks_on_ancient_languages">For more</a>
</div>

<button class="accordion">Why Noah’s Ark will never be found
</button>
<div class="panel">
  <p>For more than a century, people have sought the Old Testament vessel that survived the 
    biblical deluge. Archaeologists say it’s a fool’s errand....</p>
     <a href="https://www.nationalgeographic.com/magazine/article/noahs-ark-archaeology-search-science">For more</a>
</div>


</body>
</html>