doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Articles &amp; Chill
  link(rel='stylesheet' href='/css.css')
  script(defer='' src='/js.js')
.header
  h1 physics
  p phisics articles
button.accordion A quantum computer has simulated a wormhole for the first time
.panel
  p
    | Researchers have used Google&apos;s Sycamore quantum computer to
    | simulate a simplified wormhole for the first time, and sent
    | a piece of quantum information through it...
  a(href='https://www.newscientist.com/article/2349118-a-quantum-computer-has-simulated-a-wormhole-for-the-first-time/')  For more
button.accordion
  | Why dandelion seeds are so good at spreading widely
.panel
  p
    | Individual dandelion seeds on
    | a single flower are destined to go in different directions
  a(href='https://www.sciencenews.org/article/why-dandelion-seeds-spread-wide')  For more
button.accordion Particles from space provide a new look inside cyclones
.panel
  p
    | Muons from cosmic rays might lead to a new tool for
    | understanding the weather
  a(href='https://www.sciencenews.org/article/muon-particles-cosmic-rays-inside-cyclones-weather') For more
button.accordion
  | World Cup: This year&rsquo;s special Al Rihla ball has the aerodynamics of a champion, according to a sports physicist
.panel
  p
    | As with every World Cup, at the 2022 FIFA World
    | Cup in Qatar the players will be using a new ball...
  a(href='https://theconversation.com/world-cup-this-years-special-al-rihla-ball-has-the-aerodynamics-of-a-champion-according-to-a-sports-physicist-194585') For more
button.accordion Curious Kids: what is exotic matter, and could we use it to make wormholes?
.panel
  p
    | Matter is &ldquo;stuff&rdquo;. It is anything that is made up of particles that take up space. Everything we can feel and see on Earth is matter,
    | and it&rsquo;s usually in one of three types: solid, liquid or gas...
  a(href='https://theconversation.com/curious-kids-what-is-exotic-matter-and-could-we-use-it-to-make-wormholes-189425') For more
