doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Articles &amp; Chill
  link(rel='stylesheet' href='../static/css.css')
  script(defer='' src='../static/js.js')
br
br
.cont
  .form.sign-in
    h2 Welcome To Articles &amp; Chill
    form(action="/signIn" method="post")
      label
        span Email
        input(type='email' name='email')
      label
        span Password
        input(type='password' name='password')
      button.submit(type='submit') Sign In
  .sub-cont
    .img
      .img__text.m--up
        h3 Don&apos;t have an account? Please Sign up!
      .img__text.m--in
        h3 If you already have an account, just sign in.
      .img__btn
        span.m--up Sign Up
        span.m--in Sign In
    .form.sign-up
      h2 Create your Account
      form(method='post' action='/signup')
        label
          span Name
          input(type='text' name='name')
        label
          span Email
          input(type='email' name='email')
        label
          span Password
          input(type='password' name='password')
        button.submit(type='submit') Sign Up
script.
  document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
  });
